<div class="app-container">
  <h2>Stoplight assignment</h2>

  <div class="timer-input-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Timer (in seconds)</mat-label>
      <input matInput [(ngModel)]="timerInputValue" value=1>
    </mat-form-field>
  </div>
  <div id="light-switch-button">
    <button mat-raised-button (click)="switchLightWithTimer()">
      Switch with timer
    </button>
    <button mat-raised-button (click)="switchLightManual()">
      Manual switch
    </button>
  </div>
  <div id="traffic-light-base">
    <div id="redColor" [ngStyle]="{'backgroundColor': colorIndex == 1 ? 'red' : 'white' }"
         class="traffic-light-element"></div>
    <div id="yellowColor" [ngStyle]="{'backgroundColor': colorIndex == 2 ? 'yellow' : 'white' }"
         class="traffic-light-element"></div>
    <div id="greenColor" [ngStyle]="{'backgroundColor': colorIndex == 3 ? 'green' : 'white' }"
         class="traffic-light-element"></div>
    <div></div>
  </div>

</div>
